@font-face {
	font-family: eurofighter;
	font-display: swap;
	src: url("../fonts/eurofighter.woff2") format("woff2"), url("../fonts/eurofighter.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
